### Eclipse ###
.settings/
.factorypath

# ignore properties file
/src/main/webapp/config/database.properties
/src/main/webapp/config/naverLogin.properties

# 네이버 로고 이미지
/src/main/webapp/resources/login/image/naverLogin.PNG