<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "org.zerock.mapper.basketMapper">

<insert id = "getBasketProduct">
	insert into basket(product_code, customer_code, product_quantity)
	values (#{product_code}, #{customer_code}, #{product_quantity})
</insert>

<!-- 중복검사용 select -->
<select id = "getPK" resultType = "org.zerock.domain.CodeVO">
	select customer_code, product_code from basket where customer_code = #{customer_code} and product_code = #{product_code}
</select>

<select id = "getList" resultType = "org.zerock.domain.basketVO">
	<![CDATA[
	set @rownum := 0;
	select distinct product_code, product_name, product_price, product_manufacturer, customer_code, product_quantity
	from (select distinct @rownum:=@rownum+1 rownum, p.product_code, p.product_name, p.product_price, p.product_manufacturer, c.customer_code, b.product_quantity
	from customer as c join basket as b on c.customer_code = b.customer_code
	inner join product as p on p.product_code = b.product_code,
	(SELECT @rownum := 0) Tmp where c.customer_code = #{customerCode} and @rownum < #{cri.pageNum} * #{cri.amount}) a where a.rownum > (#{cri.pageNum}-1) * #{cri.amount};
	]]>
</select>

<update id="updateBasket" parameterType="org.zerock.domain.basketVO">
	update basket set product_quantity=#{productQuantity} where customer_code=#{customerCode} and product_code=#{productCode};
</update>
</mapper>