<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.OrderDetailMapper">
	<insert id="createOrderDetail" parameterType="org.zerock.domain.OrderDetailVO">
		INSERT INTO order_detail(order_code, product_code, product_quantity) VALUES (
		#{orderCode}, #{productCode}, #{productQuantity});
	</insert>
	
	<select id="getProductCode" resultType="int" parameterType="int">
		SELECT product_code
		FROM order_detail
		WHERE order_code=#{orderCode};
	</select>
	<select id="getProductQuantity" resultType="int" parameterType="int">
		SELECT product_quantity
		FROM order_detail
		WHERE order_code=#{orderCode};
	</select>
	<select id="getDoneProOdInfo" resultType="list" parameterType="list">
		SELECT o.order_code, o.product_code, o.product_quantity, p.product_name, p.thumbnail_url
		FROM product as p INNER JOIN order_detail as o
		ON p.product_code=o.product_code
		WHERE o.order_code IN 
		<foreach collection="list" item="orderCode" open="(" separator=", " close=")">
			#{orderCode}
		</foreach>
	</select>
</mapper>