<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "org.zerock.mapper.ProductMapper">

<insert id = "register">
	insert into product(product_name, product_manufacturer, product_price, product_stock, product_point, product_seller, product_score, category_code) values (#{product_name}, #{product_manufacturer}, #{product_price}, #{product_stock}, #{product_point}, #{product_seller}, #{product_score} ,#{category_code})
</insert>

<!-- 카테고리 select -->
<select id = "getCategory" resultType = "org.zerock.domain.CategoryVO">
	select * from category
</select>

<!-- 기본 select --> 
<select id = "getList" resultType = "org.zerock.domain.ProductVO">
	select product_code, product_name, product_manufacturer, product_price, product_score from product
</select>

<!-- 카테고리별 상품 갯수 select -->
<select id="getCount" resultType="int" parameterType="int">
	select count(*) from product where category_code=#{category_code}
</select>

<!-- 카테고리별 상품 리스트 select -->
<select id="getListByCategory" resultType="org.zerock.domain.ProductVO" parameterType="HashMap">
	select product_code, product_name, product_manufacturer, product_price, product_score 
	from product 
	where category_code=#{categoryCode}
	limit 6 offset #{startIdx}
</select>

<!-- 화면에 뿌려주는 따로만든 VO select 
<select id = "testlist" resultType = "org.zerock.domain.CategoryViewVO">
	<![CDATA[select t.test_id, t.test_name, t.test_price, t.test_quantity, t.test_img , t.test_explain, t.test_thumbnail, c.cate_name 
	from test as t join category as c
	on t.test_cateref = c.cate_code]]>
</select> -->

<select id = "getById" resultType = "org.zerock.domain.DetailVO">
	select p.product_code, p.product_name, p.product_manufacturer, p.product_seller, p.product_price, p.product_stock, p.product_point, p.product_score, c.category_code ,c.category_name
	from product as p join category as c
	on p.category_code = c.category_code
	where p.product_code = #{product_code}
</select>

<delete id = "ProductDelete">
	delete from product where product_code = #{product_code}
</delete>

<update id = "ProductModify">
	update product set 
				product_name = #{product_name}, 
				product_manufacturer = #{product_manufacturer}, 
				product_price = #{product_price}, 
				product_stock = #{product_stock},
				product_stock = #{product_stock},
				category_code = #{category_code}
			where product_code = ${product_code}
</update>

</mapper>