.nav-col-lg-3 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.main-col-lg-9 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.main-title {
	margin-bottom: 10px;
	font-weight: bold;
}
.nav-title {
	text-align: center;
	font-weight: bold;
}
.paging-container {
	text-align: center;
}